In [3]:
import sqlite3

def view_students():
    # Koneksi ke database
    conn = sqlite3.connect('users.db')
    cur = conn.cursor()

    # Menjalankan query untuk melihat data siswa
    cur.execute("SELECT * FROM students")
    rows = cur.fetchall()

    # Menampilkan data
    for row in rows:
        print(row)

    # Menutup koneksi
    conn.close()

# Panggil fungsi untuk melihat data siswa
view_students()

(1, 'Abdullah Muhammad Idris', '162012133064', 2020)
(2, 'SHINTA ADELLYA NUR ELWANSYAH', '162112133018', 2021)
(3, 'HANIFA FAKHRIZA YAROH', '162112133021', 2021)
(4, 'ELMIRA VANIA FANDI', '162112133022', 2021)
(5, 'Netri Alia Rahmi', '162112133029', 2021)
(6, 'Anindya Putri Indra Imani', '162112133031', 2021)
(7, 'NIKHLA ISFA KHURAIYA', '162112133049', 2021)
(8, 'FRANSISCUS ERNEST OKTAFIANO', '162112133081', 2021)
(9, 'Farid Ardhan', '162112133084', 2021)
(10, 'FARRAS ALFIYYAH', '162112133086', 2021)
(11, "REZA FAQIH AL'ISLAMI", '162112133089', 2021)
(12, 'AFIF ILHAM HALIK', '162112133094', 2021)
(13, 'Andi rafi fajar wally', '162112133097', 2021)
(14, 'Ilhan Rafif Nagata', '162112133100', 2021)
(15, 'Sean Adam', '162112133101', 2021)
(16, 'Amellia Gustin Ningtyas', '162112133103', 2021)
(17, 'Naufal Arya Raihasa', '162112133106', 2021)
(18, 'Bunga Citra Surya Lestari', '162112133107', 2021)
(19, 'MUHAMAD ALIF FADILAH', '162112133109', 2021)
(20, 'ALUN YUANITA INDRASWARI', '164221001', 2022)
(21, 'DYAH AYU RETNONINGSIH', '164221003', 2022)
(22, 'NADILA FITRI NOVIARDHANA', '164221006', 2022)
(23, 'SUMAYYAH ASYSYAHIDAH', '164221007', 2022)
(24, 'MICHAEL ALBERT THEOJAYA', '164221011', 2022)
(25, 'RICHO WIGNYO AJI SAPUTRA', '164221013', 2022)
(26, 'KYLA BELVA QUEENA', '164221015', 2022)
(27, 'JIHAN ASHIFA HAKIM', '164221016', 2022)
(28, 'MUZENA HISYAM OKBAH', '164221017', 2022)
(29, 'BRILLIANT PRIGAR EDNESTO', '164221024', 2022)
(30, 'WANDA DESI RAHMAWATI', '164221026', 2022)
(31, 'RIZAL HIDAYATULLOH', '164221031', 2022)
(32, 'ERWINA YOLAVANIA', '164221037', 2022)
(33, 'ZOEN YOKHANAN SIANIPAR', '164221038', 2022)
(34, 'NAFISAHIKA PUTRI HERRA', '164221039', 2022)
(35, 'NAJLA DHIA RUSYDI', '164221043', 2022)
(36, 'REINHART ANANDA SISWADI', '164221046', 2022)
(37, 'ADI JALU PRATOMO', '164221049', 2022)
(38, 'FIRMAN HASIBUAN', '164221051', 2022)
(39, 'HERMAN EFFENDI', '164221056', 2022)
(40, 'RIKO HANDONO', '164221066', 2022)
(41, 'FABYAN RIZA KIRAM', '164221068', 2022)
(42, 'RAISSA DINDA MAYA SABILLA', '164221069', 2022)
(43, 'ROMERO RACHMAT MUSADAT', '164221070', 2022)
(44, 'MUHAMMAD ARIEF MULYAWAN', '164221074', 2022)
(45, 'NISMARA ANDINI', '164221075', 2022)
(46, 'VERDYAN FARREL BILIARSA', '164221076', 2022)
(47, 'PATRICIA DEWINTA WAHYU KRISNAYANTI', '164221079', 2022)
(48, 'NAZHIFAH FIRYAL JASMINE', '164221083', 2022)
(49, 'ZHIDDAN ADITYA MAHARDIKA', '164221086', 2022)
(50, 'RAMADHAN EKO SAPUTRA', '164221088', 2022)
(51, 'ALDI ADITYA SUPRIJADI', '164221091', 2022)
(52, 'HARYO BISMO WICAKSONO', '164221095', 2022)
(53, 'FADHLURRAHMAN ALTHAF RAPIYADI', '164221102', 2022)
(54, 'AROYAN DAFFA PUTRA WAHYUDI', '164221104', 2022)
(55, 'MOH. OKKA OMARROSI IPUTUSARMA', '164221105', 2022)
(56, 'AHMAD ZULFIKAR AL GHIFFARI', '164221116', 2022)

In [2]:

# Data siswa dengan format (NIM, Nama, Angkatan)
students_data = [
    (162012133064, 'Abdullah Muhammad Idris', 2020),
    (162112133018, 'SHINTA ADELLYA NUR ELWANSYAH', 2021),
    (162112133021, 'HANIFA FAKHRIZA YAROH', 2021),
    (162112133022, 'ELMIRA VANIA FANDI', 2021),
    (162112133029, 'Netri Alia Rahmi', 2021),
    (162112133031, 'Anindya Putri Indra Imani', 2021),
    (162112133049, 'NIKHLA ISFA KHURAIYA', 2021),
    (162112133081, 'FRANSISCUS ERNEST OKTAFIANO', 2021),
    (162112133084, 'Farid Ardhan', 2021),
    (162112133086, 'FARRAS ALFIYYAH', 2021),
    (162112133089, 'REZA FAQIH AL\'ISLAMI', 2021),
    (162112133094, 'AFIF ILHAM HALIK', 2021),
    (162112133097, 'Andi rafi fajar wally', 2021),
    (162112133100, 'Ilhan Rafif Nagata', 2021),
    (162112133101, 'Sean Adam', 2021),
    (162112133103, 'Amellia Gustin Ningtyas', 2021),
    (162112133106, 'Naufal Arya Raihasa', 2021),
    (162112133107, 'Bunga Citra Surya Lestari', 2021),
    (162112133109, 'MUHAMAD ALIF FADILAH', 2021),
    (164221001, 'ALUN YUANITA INDRASWARI', 2022),
    (164221003, 'DYAH AYU RETNONINGSIH', 2022),
    (164221006, 'NADILA FITRI NOVIARDHANA', 2022),
    (164221007, 'SUMAYYAH ASYSYAHIDAH', 2022),
    (164221011, 'MICHAEL ALBERT THEOJAYA', 2022),
    (164221013, 'RICHO WIGNYO AJI SAPUTRA', 2022),
    (164221015, 'KYLA BELVA QUEENA', 2022),
    (164221016, 'JIHAN ASHIFA HAKIM', 2022),
    (164221017, 'MUZENA HISYAM OKBAH', 2022),
    (164221024, 'BRILLIANT PRIGAR EDNESTO', 2022),
    (164221026, 'WANDA DESI RAHMAWATI', 2022),
    (164221031, 'RIZAL HIDAYATULLOH', 2022),
    (164221037, 'ERWINA YOLAVANIA', 2022),
    (164221038, 'ZOEN YOKHANAN SIANIPAR', 2022),
    (164221039, 'NAFISAHIKA PUTRI HERRA', 2022),
    (164221043, 'NAJLA DHIA RUSYDI', 2022),
    (164221046, 'REINHART ANANDA SISWADI', 2022),
    (164221049, 'ADI JALU PRATOMO', 2022),
    (164221051, 'FIRMAN HASIBUAN', 2022),
    (164221056, 'HERMAN EFFENDI', 2022),
    (164221066, 'RIKO HANDONO', 2022),
    (164221068, 'FABYAN RIZA KIRAM', 2022),
    (164221069, 'RAISSA DINDA MAYA SABILLA', 2022),
    (164221070, 'ROMERO RACHMAT MUSADAT', 2022),
    (164221074, 'MUHAMMAD ARIEF MULYAWAN', 2022),
    (164221075, 'NISMARA ANDINI', 2022),
    (164221076, 'VERDYAN FARREL BILIARSA', 2022),
    (164221079, 'PATRICIA DEWINTA WAHYU KRISNAYANTI', 2022),
    (164221083, 'NAZHIFAH FIRYAL JASMINE', 2022),
    (164221086, 'ZHIDDAN ADITYA MAHARDIKA', 2022),
    (164221088, 'RAMADHAN EKO SAPUTRA', 2022),
    (164221091, 'ALDI ADITYA SUPRIJADI', 2022),
    (164221095, 'HARYO BISMO WICAKSONO', 2022),
    (164221102, 'FADHLURRAHMAN ALTHAF RAPIYADI', 2022),
    (164221104, 'AROYAN DAFFA PUTRA WAHYUDI', 2022),
    (164221105, 'MOH. OKKA OMARROSI IPUTUSARMA', 2022),
    (164221116, 'AHMAD ZULFIKAR AL GHIFFARI', 2022),
]
# Fungsi untuk menambahkan data ke database
def add_students_to_db():
    try:
        with sqlite3.connect('users.db') as con:
            cur = con.cursor()
            # Menambahkan data siswa ke tabel students
            cur.executemany("INSERT INTO students (nim, name, batch) VALUES (?, ?, ?)", students_data)
            con.commit()
            print("Data siswa berhasil ditambahkan!")
    except sqlite3.Error as e:
        print(f"An error occurred: {e}")

add_students_to_db()

Data siswa berhasil ditambahkan!

In [9]:
import sqlite3

def reset_data():
    conn = sqlite3.connect('users.db')
    cur = conn.cursor()

    # Menghapus semua data dari tabel 'students'
    cur.execute("DELETE FROM students")

    # Menghapus semua data dari tabel 'users'

    conn.commit()
    conn.close()
    print("Data telah di-reset.")

# Panggil fungsi untuk mereset data
reset_data()

Data telah di-reset.